header {
    @extend %ColumnCenter;
    width: 100%;
    height: 63px;
    img {
        width: 162px;
    }
}

footer {
    background-color: #353535;
    color: #FFF;
    padding: 22px 20px 33px 20px;
    img {
        filter: invert(100%) sepia(8%) saturate(2%) hue-rotate(112deg) brightness(123%) contrast(100%);
        width: 100px;
        margin-bottom: 16px;
    }
    li {
        margin: 0.5em;
    }
    .fa-utensils {
        margin-right: 15px;
    }
    .fa-handshake-angle {
        margin-right: 9px;
    }
    a {
        color: #FFF;
    }
}