/*permet de rangez les variables, fonctions, mixins et les %placeholders pour les extensions*/


/* :hover */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/* background-color */
$section-color: #F7F7F7;
$article-color: #FFFFFF;