/*contient les blocs de code qui ne s’appliquent qu’à une seule page. 
pages/ contient des règles spécifiques à une seule page qui ne seront pas réutilisées ailleurs*/

form {
    @extend %ColumnCenter;
    flex-direction: row;
    height: 50px;
    background-color: #EAEAEA;
    
    i {
        margin-right: 17px;
    }
    input {
    background-color: #EAEAEA;
    border: none;
    outline: none;
    font-size: 16px;
    }
    i, input {
        position: relative;
        left: 20px;
    }
}

.homepage-reservez {
    .btn-commande {
        margin-top: 27px;
    }
    
}

.homepage-reservez {
    @extend %ColumnCenter;
    text-align: center;
    background-color: $section-color;
    padding: 39px 0px 57px 0px;
    h1{
        margin: 0px 42px 15px 42px;
    }
    p {
        margin: 0px 21px;
    }
}

.homepage-fonctionnement {
    padding: 48px 20px;
    div {
        @extend %ColumnCenter;
        margin-top: 26px;
    }
}

.homepage-restaurants {
    padding: 54px 20px;
    background-color: $section-color;
}