form {
    @extend %ColumnCenter;
    flex-direction: row;
    height: 50px;
    background-color: $locate-color;
    i {
        margin-right: 17px;
    }
    input {
        background-color: $locate-color;
        border: none;
        outline: none;
        font-size: 16px;
    }
    i, input {
        position: relative;
        left: 20px;
    }
}

.homepage-reservez {
    @extend %ColumnCenter;
    text-align: center;
    background-color: $section-color;
    padding: 39px 0px 57px 0px;
    h1{
        margin: 0px 42px 15px 42px;
    }
    p {
        margin: 0px 21px;
    }
    .btn-commande {
        margin-top: 27px;
    }
}

.homepage-fonctionnement {
    padding: 48px 20px;
    div {
        @extend %ColumnCenter;
        margin-top: 26px;
    }
}

.homepage-fonctionnement {
    button {
        width: 322px;
        height: 72px;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        background-color: $section-color;
        margin: 0px 15px 25px 15px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;
        &:hover {
            background-color: #F5EDFF;
        }
        span {
            padding: 5px 8px 4px 8px;
            background-color: $primary-color;
            color: #FFF;
            border-radius: 50%;

            position: absolute;
            left: -12px;
        }
    }
    .fa-mobile-screen-button, .fa-list-ul, .fa-store {
        font-size: 16px;
        margin: 0px 20px 0px 35px;
        color: $icons-color;
    }
}

.homepage-restaurants {
    padding: 80px 20px 54px 20px;
    background-color: $section-color;
}

@media screen and (min-width: 784px) {
    .homepage-fonctionnement {
        padding-left: 5%;
        div {
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .homepage-restaurants {
        padding-left: 5%;
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        figure {
            flex-basis: 48%;
        }
        h2 {
            position: absolute;
            top: 735px;
        }
    }
}

@media screen and (min-width: 1133px) {
    .homepage-fonctionnement {
        padding-left: 15%;
    }
    .homepage-restaurants {
        padding-left: 15%;
        overflow: scroll;
        div {
            flex-wrap: nowrap;
            justify-content: flex-start;
            width: 1500px;
        }
        figure {
            flex-basis: 340px;
            margin-right: 25px;
        }
    }
}

@media screen and (min-width: 1266px) {
    .homepage-restaurants h2 {
        top: 640px;
    }
}